/**
 * Media 480px-767px
 *
 * description: css rules for screen of new moderm smartphone
 */
@media (max-width: 767px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    .blk-feature {
        .fea-special {
            .spec-item {
                width: 25%;
            }
        }
    }
    .blk-article {
        .ttl {
            margin-bottom: 10px;
        }
        .art-left {
            margin-bottom: 30px;
        }
        .art-ttl {
            margin-bottom: 15px;
        }
        .art-right {
            text-align: center;
        }
    }
    .blk-collection {
        .info {
            .ttl {
                &.lrg {
                    font-size: 30px;
                }
            }
        }
    }
}