/**
 * Media 1200px+
 *
 * description: css rules for screen of desktop
 */

@media (min-width: 1280px) {
    .container {
        width: 100%;
        max-width: 1366px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: auto;
        max-width: none;
    }
}