/**
 * Media 1200px+
 *
 * description: css rules for screen of tablets
 */
@media (max-width: 992px) {
    .blk-feature {
        .fea-left {
            width: 57%;
        }
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    .blk-feature {
        .prod-ttl {
            font-size: 24px;
            line-height: 30px;
        }
        .brand-name {
            svg {
                width: 140px;
            }
        }
    }
    .blk-article {
        .wrap-ct {
            padding: 40px 0;
        }
        .blk-ct {
            padding: 20px;
        }
    }
    .blk-collection {
        .info {
            .ttl {
                &.lrg {
                    font-size: 34px;
                }
            }
        }
    }
    .blk-parallax {
        min-height: 400px;
    }
    .header-wrap {
        ul {
            li {
                a {
                    font-size: 12px;
                }
            }
        }
    }
}
@media (max-width: 960px) {
    .blk-feature {
        .fea-special {
            .row { 
                margin-left: -5px;
                margin-right: -5px;
                [class*="col"] {
                    padding-left: 2.5px;
                    padding-right: 2.5px;   
                }
            }
        }
    } 
    .model-item {
        .info {
            .model-ttl {
                height: 100px;
            }
        }
    }
    .footer-contact {
        .foo-watch-talk, .foo-contact {
            margin-bottom: 30px;
        }
    }
    .mn-mb {
        display: block;
    }
    .header-wrap {
        .hd-menu {
            display: none;
            padding: 0;
            &.shw {
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #f9f9f9;
                z-index: 100;
                display: block;
                width: 100%;
                right: 0;
            }
            ul {
                padding-left: 10px;
            }
            li {
                float: none;
                line-height: normal;
                padding: 10px 0;
                a {
                    font-size: 14px;
                }
            }
        }
        .hd-logo {
            width: 100%;
            text-align: center;
            a {
                img {
                    width: 220px;
                }
            }
        }
        .hd-cart {
            position: absolute;
            right: 0;
            top: 50%;
            .transform(translateY(-50%));
            z-index: 1;
            width: 40px;
            padding-left: 0;
            padding-right: 0;
            ul {
                li {
                    display: none;
                    &:first-child {
                        display: block;
                    }
                }
            }
        }
    }
    .menu_mb {
        display: block;
    }
    .blk-movement {
        .move-tbl {
            opacity: 1;
            visibility: visible;
            z-index: 1;
            height: auto;   
            .w-round {
                &:nth-of-type(1) {
                    .opacity(0);
                    .transition(all .8s ease .4s);
                    .transform(translateX(-100px));
                }
                &:nth-of-type(2) {
                    .opacity(0);
                    .transition(all .8s ease .4s);
                    .transform(translateX(100px));
                }
            }
        }
        &.anima {
            .move-tbl {
                margin-bottom: 20px;
                .w-round {
                    &:nth-of-type(1) {
                        .opacity(1);
                        .transform(translateX(0));
                    }
                    &:nth-of-type(2) {
                        .opacity(1);
                        .transform(translateX(0));
                    }
                }
            }
        }
        .w-round {
            &.w-left, &.w-right {
                display: none;
            }
        }
    }
}

@media (max-width: 940px) {
    .blk-desc {
        .container {
            width: 580px;
            margin: 0 auto;
        }
        .desc-left {
            .desc-inner {
                width: 100%;
            }
            .col-md-4{
                width: 50%;
            }
            .col-md-4 {
                &:nth-of-type(1),&:nth-of-type(2) {
                    margin-bottom: 30px;
                }
            }
        }
        .desc-right {
            .inner {
                width: 100%;
            }
        }
        .table {
            > tbody {
                > tr {
                    > td {
                        &:first-child {
                            width: 120px;
                        }
                    }
                }
            }
        }
        .desc-col {
            &:nth-of-type(3) {
                clear: left;
            }
        }
    }
    .blk-feature {
        .fea-left, .fea-right {
            width: 100%;
            display: block;
        }
        .fea-left {
            margin-bottom: 60px;
        }
        .feature-gallery {
            width: 580px;
            margin: 0 auto;
            margin-top: 50px;
        }
        .fea-right {
            .inner {
                width: 580px;
                margin: 0 auto;
            }
        }
        .fea-special {
            .spec-item {
                .wrap {
                    height: 130px;
                    padding-top: 35px;
                }
            }
            .row { 
                margin-left: -10px;
                margin-right: -10px;
                [class*="col"] {
                    padding-left: 10px;
                    padding-right: 10px;   
                }
            }
        }
    }
    .blk-feature {
        .col-social, .col-payment {
            width: 50%;
            text-align: left;
        }
        .col-payment {
            margin-bottom: 0;
        }
    }
    .blk-feature {
        .fea-desc {
            .col-xs-6 {
                width: 25%;
            }
        }
    }
    .blk-prod-related {
        .model-item {
            width: 50%;
            margin-bottom: 30px;
        }
        .wrap-ct {
            padding: 60px 20px 30px 20px;
        }
    }
    .model-item {
        .info {
            .model-ttl {
                height: 50px;
            }
        }
    }
    .blk-parallax {
        min-height: 300px;
    }
    .blk-desc {
        .desc-right {
            .inner {
                min-height: auto;
                // padding: 30px;
            }
        }
        .desc-left, .desc-right {
            width: 100%;
        }
        .desc-left {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 860px) {
    .author-itm {
        height: 180px;
        .ttl {
            font-size: 18px;
        }
    }
}