section.blk-prod-related.pad40
    .container
        h2.ttl.uppercase You may also like ...
        .row
            .col-md-3.col-sm-3.col-xs-6.model-item
                a(href="#")
                    figure.model-img
                        img(src="uploads/prods/prod-1.png", alt="")
                    .info
                        h3.model-ttl OMEGA CO-AXIAL MASTER CHRONOMETER 40 MM
                        .txt The original OMEGA Railmaster of 1957 was a simple, practical.
            // END : ITEM
            .col-md-3.col-sm-3.col-xs-6.model-item
                a(href="#")
                    figure.model-img
                        img(src="uploads/prods/prod-2.png", alt="")
                    .info
                        h3.model-ttl OMEGA CO-AXIAL MASTER CHRONOMETER 40 MM
                        .txt The original OMEGA Railmaster of 1957 was a simple, practical.
            // END : ITEM
            .col-md-3.col-sm-3.col-xs-6.model-item
                a(href="#")
                    figure.model-img
                        img(src="uploads/prods/prod-1.png", alt="")
                    .info
                        h3.model-ttl OMEGA CO-AXIAL MASTER CHRONOMETER 40 MM
                        .txt The original OMEGA Railmaster of 1957 was a simple, practical.
            // END : ITEM
            .col-md-3.col-sm-3.col-xs-6.model-item
                a(href="#")
                    figure.model-img
                        img(src="uploads/prods/prod-2.png", alt="")
                    .info
                        h3.model-ttl OMEGA CO-AXIAL MASTER CHRONOMETER 40 MM
                        .txt The original OMEGA Railmaster of 1957 was a simple, practical.
            // END : ITEM