section.blk-prod-related#blk-prod-related
    .container
        .wrap-ct
            h2.ttl.uppercase You may also like ...
            .row
                .col-md-3.col-sm-3.col-xs-6.model-item
                    a(href="#")
                        figure.model-img
                            img(src="uploads/prods/prod-1.png", alt="")
                        .info
                            h3.model-ttl Constellation Quartz 27 Brushed Stainless Steel / Red Gold / MOP
                            .txt.gold.bold 13270
                            .txt ROSE GOLD
                            .txt 27.00 mm
                // END : ITEM
                .col-md-3.col-sm-3.col-xs-6.model-item
                    a(href="#")
                        figure.model-img
                            img(src="uploads/prods/prod-2.png", alt="")
                        .info
                            h3.model-ttl Constellation Quartz 27 Brushed Stainless Steel / Yellow Gold / MOP
                            .txt.gold.bold 13269
                            .txt SILVER
                            .txt 27.00 mm
                // END : ITEM
                .col-md-3.col-sm-3.col-xs-6.model-item
                    a(href="#")
                        figure.model-img
                            img(src="uploads/prods/prod-1.png", alt="")
                        .info
                            h3.model-ttl Constellation Quartz 24 Brushed Stainless Steel / Red Gold / Silver
                            .txt.gold.bold 13223
                            .txt TITANIUM
                            .txt 23.00 mm
                // END : ITEM
                .col-md-3.col-sm-3.col-xs-6.model-item
                    a(href="#")
                        figure.model-img
                            img(src="uploads/prods/prod-2.png", alt="")
                        .info
                            h3.model-ttl Constellation Quartz 27 Brushed Stainless Steel / Silver
                            .txt.gold.bold 13142
                            .txt WHITE
                            .txt 27.00 mm
                // END : ITEM