section.blk-article#blk-article
    .container
        .wrap-ct
            h2.ttl ALSO SEEN ON
            .blk-ct 
                .row
                    .col-md-6.col-sm-6.col-xs-12.art-left
                        a(href="https://www.forbes.com/sites/carolbesler/2017/01/12/omega-speedytuesday-edition-sold-out-in-4-hours-but-the-cappuccino-speedy-is-next-up/#cd33294fb23e", target="_blank")
                            img(src="uploads/n1.jpg", alt="")
                    // END : LEFT
                    .col-md-6.col-sm-6.col-xs-12.art-right
                        a(href="#")
                            h5.art-ttl Omega #speedytuesday Edition Sold Out In 4 Hours, But The Cappuccino Speedy Is Next Up
                            .small.sub-ttl Forbes, 12 Jan 2017
                            .txt It took a mere four hours and fifteen minutes for Omega to sell 2,012 limited-edition “#speedytuesday” watches last week that were offered exclusively on Instagram. The special-edition Speedmaster, the hero of the brand’s iconic collection, was geared to a group of devotees that follow the #speedytuesday hashtag, created by watch enthusiast Robert-Jan Broer of the Fratello Watches blog.
                            span.btn.btn-gold 
                                span Full details here
                    // END : RIGHT