section.blk-newsletter.blk-p#blk-newsletter
    .container
        .wrap-ct
            h2.ttl Newsletter
            .blk-ct 
                img.watch-newsletter(src="./uploads/store/watch_a.png", alt="watch_a")
                .desc 
                    p Want the latest news, tips and offers?
                    .txtinput-newsletter.clearfix
                        input.txt(type="text", placeholder="Enter your email address")
                        button.submit-newsletter(type="submit")
                            | SUBMIT