section.blk-movement#blk-movement.pad60
    .container
        h2.ttl.text-center.marg-bot-60 
            p.sub-ttl MOVEMENT
            | CALIBER OMEGA 8806
        .row
            .movement-center.col-md-5.col-xs-10.col-centered      
                .w-round.w-left
                    img(src="./uploads/icons/w-icon_2.jpg", alt="w-icon-2")
                    p
                        | Power reserve
                        b 55 hours
                .w-round.w-right
                    img(src="./uploads/icons/w-icon_1.jpg", alt="w-icon-1")
                    p
                        | Type
                        b Self winding
                .move-ct 
                    .text-center.pic
                        img(src="./uploads/prods/watch-calibre-8806_1.jpg", alt="movement")
                    .move-tbl
                        .w-round
                            img(src="./uploads/icons/w-icon_2.jpg", alt="w-icon-2")
                            p
                                | Power reserve
                                b 55 hours
                        .w-round
                            img(src="./uploads/icons/w-icon_1.jpg", alt="w-icon-1")
                            p
                                | Type
                                b Self winding
                        .move-ct 
                    p.txt Self-winding movement with a Co-Axial escapement. Certified Master Chronometer, approved by METAS, resistant to magnetic fields reaching 15,000 gauss. Free sprung-balance with silicon balance spring, automatic winding in both directions. Special luxury finish with rhodium-plated rotor and bridges with Geneva waves in arabesque.
