section.blk-authorized#blk-authorized
    .container
        .row
            .col-sm-3.col-xs-6
                .author-itm(style="background-image: url('./uploads/store/h1.jpg')")
                    h4.ttl Authorized Retailer
                    .ct 
                        | With 2 Year International Warranty by Brand plus 1 Additional Year by THG
            .col-sm-3.col-xs-6
                .author-itm(style="background-image: url('./uploads/store/h2.jpg')")
                    h4.ttl Tracking & Coverage
                    .ct 
                        | With 2 Year International Warranty by Brand plus 1 Additional Year by THG
            .col-sm-3.col-xs-6
                .author-itm(style="background-image: url('./uploads/store/h3.jpg')")
                    h4.ttl Same-Day Expedited Shipping
                    .ct 
                        | With 2 Year International Warranty by Brand plus 1 Additional Year by THG
            .col-sm-3.col-xs-6
                .author-itm(style="background-image: url('./uploads/store/h4.jpg')")
                    h4.ttl Curated Collection
                    .ct 
                        | With 2 Year International Warranty by Brand plus 1 Additional Year by THG
                
            