section.blk-authorized.pad40
    .container
        .row
            .col-sm-3.col-xs-6.author-itm
                figure.autho-img
                    img(src="uploads/icons/guarantee.png", alt="")
                h4.ttl AUTHORIZED RETAILER
                .txt With 2 Year International Warranty by Brand plus 1 Additional Year by THG
            // END : ITEM
            .col-sm-3.col-xs-6.author-itm
                figure.autho-img
                    img(src="uploads/icons/charity.png", alt="")
                h4.ttl TRACKING AND COVERAGE
                .txt Purchase worry-free with our Secured Courier and Freight Insurance
            // END : ITEM
            .col-sm-3.col-xs-6.author-itm
                figure.autho-img
                    img(src="uploads/icons/new-product.png", alt="")
                h4.ttl SAME DAY EXPEDITED SHIPPING
                .txt Order before 2pm and we'll have it delivered in 3 working days.
            // END : ITEM
            .col-sm-3.col-xs-6.author-itm
                figure.autho-img
                    img(src="uploads/icons/purchase.png", alt="")
                h4.ttl CURATED COLLECTION
                .txt Our exquisite Limited Edition pieces are not available at boutiques.
            // END : ITEM