section.blk-desc.pad40
    .container
        .row
            .col-md-7.col-sm-7.col-xs-12.desc-left
                h2.ttl Watch Details
                .row
                    .col-md-6.col-sm-6.col-xs-12.col-left
                        .desc-blk
                            h4.sml-ttl Case
                            table.table
                                tr
                                    td Material:
                                    td Rose Gold
                                tr
                                    td Glass:
                                    td Saphire
                                tr
                                    td Back:
                                    td Open
                                tr
                                    td Shape:
                                    td Cushion
                                tr
                                    td Diameter:
                                    td 42.00 mm
                                tr
                                    td Height:
                                    td 10.78 mm
                                tr
                                    td W/R:
                                    td 60.00 mm
                        // END
                        .desc-blk
                            h4.sml-ttl Movement
                            .txt Mechanical self-winding movement with dual time zone mechanism indicating local and home time and local and home day/night indication in apertures.
                        // END
                    // END : COL
                    .col-md-6.col-sm-6.col-xs-12.col-right
                        .desc-blk
                            h4.sml-ttl Dial
                            table.table
                                tr
                                    td Color:
                                    td Brown
                                tr
                                    td Finish:
                                    td Sumburst
                                tr
                                    td Indexes:
                                    td Arabic Numerals
                                tr
                                    td Hands:
                                    td Proprietary
                        // END
                        .desc-blk
                            h4.sml-ttl Features
                            table.table
                                tr
                                    td Type:
                                    td Automatic
                                tr
                                    td Caliber:
                                    td 324 S C FUS
                                tr
                                    td Base:
                                    td Patek Philippe 324 S C
                                tr
                                    td Display:
                                    td Analog
                                tr
                                    td Diameter:
                                    td 31.00 mm
                                tr
                                    td Jewels:
                                    td 29
                                tr
                                    td Reserve:
                                    td 45 h
                                tr
                                    td Frequency:
                                    td 28800 bph
                        // END
                    // END : COL
            // END : COL LEFT
            .col-md-5.col-sm-5.col-xs-12.desc-right
                .inner
                    h2.ttl Story
                    .txt 
                        p The Patek Phillipe Calatrava Pilot Travel Time 5524r-001 was introduced a few days prior to Baselworld 2018. It features a rose gold case and a brown dial; it also marked the brand's adoptation of the Instagram platform as a means of communications.
                        p A smaller alternative was also intruduced as ref 7234
            // END : COL RIGHT