section.blk-article.pad40
    .container
        h2.ttl Featured Article
        .row
            .col-md-6.col-sm-6.col-xs-12.art-left
                a(href="#")
                    img(src="uploads/n1.jpg", alt="")
            // END : LEFT
            .col-md-6.col-sm-6.col-xs-12.art-right
                a(href="#")
                    h3.art-ttl Introducing The Patek Phillipe 5524G, Catatrava Pilot Travel Time
                    .txt Bet you didn't see this coming. And neither did we. You are looking at the Patek Phillipe 5524G, or Calatrava Pilot Travel Time. Annouced just now the day before BaselWorld 2015, this watch paints an interesting picture about where Patek Phillipe is headed as a brand.
                    span.btn.btn-gold 
                        span Full details here
            // END : RIGHT