section.blk-collection#blk-collection
    .container
        .wrap-ct
            img(src="uploads/railmaster.jpg", alt="")
            .info
                h4.ttl.sml Railmaster - The Collection
                h2.ttl.lrg Discover The Universe