section.blk-gallery.pad40#blk-gallery
    .container
        .gallery-pc
            .row
                .col-md-4.col-sm-4.col-xs-12.gal-left
                    a(href="#")
                        img(src="uploads/gallery/gal-1.jpg", alt="")
                // END: LEFT
                .col-md-8.col-sm-8.col-xs-12.gal-right
                    .gal-blk
                        .row
                            .col-md-8.col-sm-8.col-xs-12
                                a(href="#")
                                    img(src="uploads/gallery/gal-3.jpg", alt="")
                            // END : COL
                            .col-md-4.col-sm-4.col-xs-12
                                a(href="#")
                                    img(src="uploads/gallery/gal-2.jpg", alt="")
                            // END : COL
                    // END
                    .gal-blk
                        .row
                            .col-md-4.col-sm-4.col-xs-12
                                a(href="#")
                                    img(src="uploads/gallery/gal-4.jpg", alt="")
                            // END : COL
                            .col-md-8.col-sm-8.col-xs-12
                                a(href="#")
                                    img(src="uploads/gallery/gal-1.jpg", alt="")
                            // END : COL
                    // END
                // END: RIGHT
        .gallery-mb
            .gal-item
                img(src="uploads/gallery/gal-5.jpg", alt="")
            .gal-item
                img(src="uploads/gallery/gal-6.jpg", alt="")
            .gal-item
                img(src="uploads/gallery/gal-7.jpg", alt="")
            .gal-item
                img(src="uploads/gallery/gal-8.jpg", alt="")