section.blk-desc.pad40#blk-desc
    .container
        .row
            .col-xs-12.desc-left
                .desc-inner
                    h2.ttl 
                        | Watch Details
                    p.sub-ttl.text-center Ref. Number: Omega 311.32.42.30.04.003
                    .row
                        .col-xs-12
                            .row
                                .col-xs-6.desc-col
                                    h4.sml-ttl case size
                                    table.table
                                        tr
                                            td.bold Material:
                                            td Rose Gold
                                        tr
                                            td.bold Glass:
                                            td Saphire
                                        tr
                                            td.bold Back:
                                            td Open
                                        tr
                                            td.bold Shape:
                                            td Cushion
                                        tr
                                            td.bold Diameter: 
                                            td 42.00 mm
                                        tr
                                            td.bold Height:
                                            td 10.78 mm
                                        tr
                                            td.bold W/R:
                                            td 60.00 mm
                                // END : COL
                                .col-xs-6.desc-col
                                    h4.sml-ttl dial
                                    table.table
                                        tr
                                            td.bold Color:
                                            td Brown
                                        tr
                                            td.bold Finish:
                                            td Sumburst
                                        tr
                                            td.bold Indexes:
                                            td Arabic Numerals
                                        tr
                                            td.bold Hands:
                                            td Proprietary
                            // END : COL
                        .col-xs-12
                            .row
                                .col-xs-6.desc-col
                                    h4.sml-ttl movement
                                    table.table
                                        tr
                                            td.bold Caliber
                                            td 52580 Calibre
                                        tr
                                            td.bold Movement Type
                                            td Automatic, self-winding
                                        tr
                                            td.bold Movement
                                            td Frequency 28800.0 vph (4.0 hz)
                                        tr
                                            td.bold Description
                                            td 36 Jewels
                                        tr
                                            td.bold Functions 
                                            td 168 hours Power Reserve
                                        tr
                                            td.bold Chorno
                                            td IWC-manufactured movement Côtes de Genève, perlage
                                // END : COL
                                .col-xs-6.desc-col
                                    .desc-blk
                                        h4.sml-ttl features
                                        table.table
                                            tr
                                                td.bold Type:
                                                td Automatic
                                            tr
                                                td.bold Caliber:
                                                td 324 S C FUS
                                            tr
                                                td.bold Base:
                                                td Patek Philippe 324 S C
                                            tr
                                                td.bold Display:
                                                td Analog
                                            tr
                                                td.bold Diameter: 
                                                td 31.00 mm
                                            tr
                                                td.bold Jewels:
                                                td 29
                                            tr
                                                td.bold Reserve:
                                                td 45 h
                                            tr
                                                td.bold Frequency:
                                                td 28800 bph
                                    // END
                                    .desc-blk
                                        h4.sml-ttl strap
                                        table.table
                                            tr
                                                td.bold Material:
                                                td calfskin
                                            tr
                                                td.bold Colour:
                                                td Brown
                                    // END
                                // END : COL
                        //- .col-md-4.col-sm-4.col-xs-6
                        //-     .desc-blk
                        //-         h4.sml-ttl Case
                        //-         table.table
                        //-             tr
                        //-                 td Material:
                        //-                 td Rose Gold
                        //-             tr
                        //-                 td Glass:
                        //-                 td Saphire
                        //-             tr
                        //-                 td Back:
                        //-                 td Open
                        //-             tr
                        //-                 td Shape:
                        //-                 td Cushion
                        //-             tr
                        //-                 td Diameter:
                        //-                 td 42.00 mm
                        //-             tr
                        //-                 td Height:
                        //-                 td 10.78 mm
                        //-             tr
                        //-                 td W/R:
                        //-                 td 60.00 mm
                        //-     // END
                        //- // END : COL
                        //- .col-md-4.col-sm-4.col-xs-6
                        //-     .desc-blk
                        //-         h4.sml-ttl Features
                        //-         table.table
                        //-             tr
                        //-                 td Type:
                        //-                 td Automatic
                        //-             tr
                        //-                 td Caliber:
                        //-                 td 324 S C FUS
                        //-             tr
                        //-                 td Base:
                        //-                 td Patek Philippe 324 S C
                        //-             tr
                        //-                 td Display:
                        //-                 td Analog
                        //-             tr
                        //-                 td Diameter:
                        //-                 td 31.00 mm
                        //-             tr
                        //-                 td Jewels:
                        //-                 td 29
                        //-             tr
                        //-                 td Reserve:
                        //-                 td 45 h
                        //-             tr
                        //-                 td Frequency:
                        //-                 td 28800 bph
                        //-     // END
                        //- // END : COL
                        //- .col-md-4.col-sm-4.col-xs-6
                        //-     .desc-blk
                        //-         h4.sml-ttl Dial
                        //-         table.table
                        //-             tr
                        //-                 td Color:
                        //-                 td Brown
                        //-             tr
                        //-                 td Finish:
                        //-                 td Sumburst
                        //-             tr
                        //-                 td Indexes:
                        //-                 td Arabic Numerals
                        //-             tr
                        //-                 td Hands:
                        //-                 td Proprietary
                        //-     // END
                        //- // END : COL
                        //- .col-md-12.col-sm-12.col-xs-12
                        //-     .desc-blk
                        //-         h4.sml-ttl Movement
                        //-         .txt Mechanical self-winding movement with dual time zone mechanism indicating local and home time and local and home day/night indication in apertures.
                        //-     // END
                        //- // END : COL
            // END : COL LEFT
            .col-xs-12.desc-right
                .inner
                    h2.ttl Story
                    .txt 
                        p The Patek Phillipe Calatrava Pilot Travel Time 5524r-001 was introduced a few days prior to Baselworld 2018. It features a rose gold case and a brown dial; it also marked the brand's adoptation of the Instagram platform as a means of communications.
                        p A smaller alternative was also intruduced as ref 7234
                        p The Patek Phillipe Calatrava Pilot Travel Time 5524r-001 was introduced a few days prior to Baselworld 2018. It features a rose gold case and a brown dial; it also marked the brand's adoptation of the Instagram platform as a means of communications.
                        p A smaller alternative was also intruduced as ref 7234
                    a(href="#", class="shw_more") read more
            // END : COL RIGHT