section.breadcrumb-wrap
    .container
        a(href="#") Home
        a(href="#") Omega
        a(href="#") Speedmaster
        //- a(href="#") Speedmaster
        span Speedmaster Professional Moonwatch Stainless Steel Snoopy Award