<!-- Modal -->
.modal.fade(id="myDelivery", tabindex="-1", role="dialog", aria-labelledby="myDelivery", aria-hidden="true")
    .modal-dialog
        .modal-content
            h3.ttl Service Promise 
            a(href="javascript:;", class="close-social", data-dismiss="modal")
                i.fa.fa-times
            .text
                p Your watch buying journey do not end with online purchase and subsequently receiving your watch. As a valued customer of The Hour Glass, we remain at your service should you require any assistance at any of our 36 boutiques across the 7 markets we operate in. You are also invited to opt-in to our newsletter mailing list and receive the latest content in watchmaking delivered by our in-house editorial team. 
                p As our valued customer, you may also have preferential placements on limited edition or highly sought-after watches, in addition to receiving invites to closed-door events hosted by us or by our partners. 
