<!-- Modal -->
.modal.fade(id="myPolicy", tabindex="-1", role="dialog", aria-labelledby="myPolicy", aria-hidden="true")
    .modal-dialog
        .modal-content
            h3.ttl Return Policy 
            a(href="javascript:;", class="close-social", data-dismiss="modal")
                i.fa.fa-times
            .text
                p Should there be manufacturing defects or should you receive the watch in condition, you may return your watch in its original packaging  with all materials and documents included and in accordance with the Conditions of Sale, via FedEx within 7 days of receipt. We will validate your returns in 5 working days, and ship a new watch in 3 working days after our assessment.
                p All returns will be subject to strict Quality Control (QC) by ensuring that the returned products satisfy these requirements. If the products do not meet QC standards, the watch will be sent back to the Customer or the Gift Recipient, as applicable. If the returned product satisfies Quality QC, we will proceed with the applicable exchange.     
                p To initiate returns, please call us at 
                    a(href="tel: +65 67301176") +65 67301176 
                    | or email at 
                    a(href="mailto: ecommerce@thehourglass.com. ") ecommerce@thehourglass.com. 