<!-- Modal -->
.modal.fade(id="myWarranty", tabindex="-1", role="dialog", aria-labelledby="myWarranty", aria-hidden="true")
    .modal-dialog
        .modal-content
            h3.ttl Warranty 
            a(href="javascript:;", class="close-social", data-dismiss="modal")
                i.fa.fa-times
            .text
                p Your watch is covered under a 2-year international warranty direct from manufacture. Should your watch require any servicing, you may bring your watch to any of our 36 boutique present in 7 markets. A list of our boutiques can be found here (
                    a(href="http:://www.thehourglass.com") www.thehourglass.com
                    | ).&nbsp; 
                    | Should you reside outside of these countries or cities, you may still send your watches to the manufacture service center located&nbsp; 
                    a(href="http:://www.thehourglass.com") here. 
                    | &nbsp;To view the terms and conditions of the warranty, please visit&nbsp;
                    a(href="http:://www.thehourglass.com") this page.