<!-- Modal -->
.modal.fade(id="myShipping", tabindex="-1", role="dialog", aria-labelledby="myShipping", aria-hidden="true")
    .modal-dialog
        .modal-content
            h3.ttl Expedited Shipping
            a(href="javascript:;", class="close-social", data-dismiss="modal")
                i.fa.fa-times
            .text
                p We deliver to Singapore addresses within the next working day for online orders made before 5pm each day. For orders after 5pm, you will receive your watch in 2 working days. During the online checkout process, you may indicate your referred delivery time window for our courier to visit your location.
                p Delivery time to following countries: 
                p 3 working days: Malaysia, Thailand, Vietnam, Hong Kong, Indonesia, Australia, New Zealand 
                p 4 working days: US, Canada, UK, Germany, Japan, Korea
                p 5 working days: China, Saudi Arabia, Qatar, Dubai, UAE
                p We do not ship to locations outside of the above. 