extends layouts/layout
block main
    include blocks/blk-banner-sale.jade
    // END : BANNER SALE
    include blocks/breadcrumb.jade
    // END : BREADCRUMB
    include blocks/blk-feature.jade
    // END : BLK FEATURE
    include blocks/blk-description.jade
    // END : BLK DESCRIPTION
    include blocks/blk-gallery.jade
    // END : GALLERY
    include blocks/blk-article.jade
    // END : BLK ARTICLE
    include blocks/blk-collection.jade
    // END : BLK COLLECTION
    include blocks/blk-related.jade
    // END : BLK PRODUCT RELATED
    include blocks/blk-author.jade
    // END : BLK AUTHORIZED