extends layouts/layout
block main
    include blocks/blk-banner-sale.jade
    include blocks/breadcrumb.jade
    //- MAIN CONTENT
    include blocks/blk-feature.jade
    //- Desc of Product
    include blocks/blk-description.jade
    include blocks/blk-parallax.jade
    include blocks/blk-movement.jade
    include blocks/blk-gallery.jade
    include blocks/blk-article.jade
    include blocks/blk-collection.jade
    include blocks/blk-related.jade
    //- END of PAGE
    include blocks/blk-newsletter.jade
    include blocks/blk-author.jade
