section.footer-contact.pad40
    .container
        .row
            .col-md-4.col-4.col-xs-6.foo-watch-talk
                h5.foo-ttl Watch Talk
                ul.menu
                    li
                        a(href="#") All Stories
                    li
                        a(href="#") Subscrible
            // END : WATCH TALK
            .col-md-4.col-4.col-xs-6.foo-contact
                h5.foo-ttl Contact Us
                ul.menu
                    li
                        a(href="#") Schedule An Appointment
                    li
                        a(href="#") Find a Store
                    li
                        a(href="#") Careers
            // END : CONTACT
            .col-md-4.col-4.col-xs-12.foo-store
                h5.foo-ttl 
                    i.ico
                    | FIND STORE
                .txt Stop dreaming, start experiencing. See, touch and feel, get the full elegant & luxury the way it was meant to be.
                .txtinput-newsletter.clearfix
                    input.txt(type="text", placeholder="Place...")
                    button.submit-newsletter(type="submit")
                        | SEARCH
            // END : FIND STORE
// END : FOOTER CONTACT
footer.footer-wrap
    .container
        .inner
            | Copyright © The Hour Glass Limited 2018. All Rights Reserved.