header.header-wrap
    .container
        .inner
            .row
                a(href="javascript:;", class="menu_mb")
                    span
                .hd-logo.col-md-3.col-sm-3.col-xs-12
                    a(href="#", title="The Hour Glass - Leading Luxury Watch Retail Group")
                        img(src="uploads/logo.png", alt="The Hour Glass - Leading Luxury Watch Retail Group", title="The Hour Glass - Leading Luxury Watch Retail Group")
                // END : LOGO
                .hd-menu.col-md-6.col-sm-6.col-xs-12
                    ul.clearfix
                        li
                            a(href="#") Limited Edition Watches
                        li
                            a(href="#") Pre-owned Watches
                        li
                            a(href="#") Accessories
                        li
                            a(href="#") Journal
                    ul.mn-mb
                        li
                            a(href="#") Create Account
                        li
                            a(href="#") Login  
                // END : MENU
                .hd-cart.col-md-3.col-sm-3.col-xs-12
                    ul.clearfix.pull-right
                        li
                            a(href="#")     
                                i.fa.fa-shopping-cart
                        li
                            a(href="#") Create Account
                        li
                            a(href="#") Login
                // END : CART
