block vars
  title The Hour Glass - Leading Luxury Watch Retail Group
doctype html
//[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]
//[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]
//[if gt IE 9]><!
html(class="no-js", lang="en")
  //<![endif]
  head
    meta(charset="utf-8")
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")   
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    //-- Call font       
    //- link(href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,700,700i", rel="stylesheet")
    //- link(href='https://fonts.googleapis.com/css?family=Cardo:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=PT+Serif:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,600,700,800,900', rel='stylesheet', type='text/css')
    link(rel="shortcut icon", href="uploads/favicon-150x150.png", type="image/x-icon")
    link(rel="stylesheet", href="css/style.css")
    //--script(src="js/modernizr.js")     
  body(class="body-css "  ) 

    include ../includes/header.jade 
    // END : HEADER

    section.main 
      block main  
    // END : MAIN CONTENT
            
    include ../includes/footer.jade
    // END : FOOTER
    include ../includes/scripts.jade

    include ../blocks/modal-shipping.jade
    include ../blocks/modal-policy.jade
    include ../blocks/modal-warranty.jade
    include ../blocks/modal-delivery.jade